<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test_" suffix=".php">./tests/</directory>
		</testsuite>
		<testsuite name="controllers">
			<directory prefix="test_" suffix=".php">./tests/controllers</directory>
		</testsuite>
		<testsuite name="models">
			<directory prefix="test_" suffix=".php">./tests/models</directory>
		</testsuite>
	</testsuites>
</phpunit>
